@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #050505;
    padding-block: 10px;
}

.container-fluid {
    margin-right: 3rem;
    margin-left: 3rem;
}
.navbar-collapse {
    display: flex;
    justify-content: end;
    flex-grow: 0;
}

.logo {
    font-size: 25px;
    color: #ffd000;
    font-weight: 800;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;   
    text-decoration: none;
}

.logo:hover {
    color: #ff0000;
    transform: scale(140%);  
}

.navbar {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

ul li a {
    color: #ffd000;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    
    text-decoration: none;
}

ul li a:hover {
    color: #ff0000;
}


/*FIN DE HEADER
CSS MAIN (INDEX) */

.imagenprincipal {
    background-image: url(../img/imgprincipal.jpg);
    height: 93vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center
}

.imagenprincipal h1 {
    color: #ffd000;
    background-color: #00000080;
    font-weight: bold;
    text-transform: uppercase;
    padding-inline: 5px;
    border-radius: 10px;
    -webkit-animation: scale-in-hor-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-hor-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


 @-webkit-keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-hor-center {
    0% {
      -webkit-transform: scaleX(0);
              transform: scaleX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
      opacity: 1;
    }
  }
  


/*SECTION1*/

.section1 {
    background-color: #ee0000;
    display: flex;
    justify-content:center;
    align-items: center;

}

.section1 a {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
}

.section1 a:hover {
    transform: scale(105%);
    color: #ffd000;
}

.logohambur {
    width: 200px;
    padding: 20px;
}

/*SECTION2*/

.section2 {
    background-color: #ffffff;
    margin-bottom: 1rem;
}

.section2 .txt {
    color: #000000;
    font-size:60px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 15px;
    text-align: center;
}

.mall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
}
.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.col-1 {
    width: auto;
    color: #000000;
    text-align: center;
    padding-block: 10px;
}

.col-1 h4 {
    font-size: 20px;
    text-transform: uppercase;
}

.col-2 {
    border-radius: 10px;
    border: 3px solid #000000;
    width: 250px;
}




/*CSS NOSOTROS.HTML*/

.grid-nos {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.caja {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.caja1 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/imagen3.png);

}

.caja2 {
    width: 100%;
    height: 100vh;
    background-image: url(../img/imagen2.png);
}

.txt-nos {
    width: 700px;
    font-size: 40px;
    text-align: center;
    color: #ffd000;
    background-color: #00000080;
    border-radius: 10px;
}



/*CSS MENU.HTML*/

.section-menu {
    padding: 10px 30px 30px 30px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tittle {
    color: #000000;
    padding-bottom: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.nuestroscombos {
    width: 1000px;
    background-color: black;
    border: 1px solid #ffd000;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
} 

.cont-tit-txt-botn {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

.combo-imagenes {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.titulo-combos {
    color: #ffd000;
    font-size: 30px;
    text-align: start;
    text-transform: uppercase;
}

.texto-combos {
    color: #ffd000;
    font-size: 20px;
    width: 650px;
    text-align: justify;
    text-transform: uppercase;
}

.boton-combos {
    background-color:#ffffff;
    border: none;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.boton-combos, .texto-combos {
    margin-bottom: 10px;
}

.boton-combos:hover {
    color: #000000;
    background-color: #ff0000;
}


/*CSS UBICACION.HTML*/

.main-ubi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    font-size: 25px;
}

.section-ubi {
    height: 600px;
    display: flex;
    justify-content: space-around;
    background-color: #6b6b6b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.ubi1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 500px;
}

.cont-ubi {
    text-align: center;
    color: #ffffff;
    background-color: #000000f5;
    border-radius: 10px;
    font-size: 20px;
}

.uni-mapa, .soleil-mapa {
    border: 2px solid #ffd000;
    border-radius: 10px;
    width: 100%;
    height: 350px;
    margin-top: -4rem;
}


/*CSS CONTACTOS.HTML*/

.main-contactos {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #020202;
}

.contenedor-cont {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}

.contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto, .contacto2 h3 {
    font-size: 25px;
    color: #ffffff;
}

.contacto2 {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.icon {
    width: 80px;
}

.redes {
    width: 400px;
    display: flex;
    justify-content: space-around;
}


.carousel {
    width: 600px;
    margin: auto;
    background-size: cover;
    margin-bottom: 10px;
}

.d-block {
    border-radius: 10px;
    border: 2px solid #ffd000;
}


.cont-form {
    width: 400px;
    padding-block: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #000000;
    border-radius: 10px;
    color: white;
}

.btn-primary {
    background-color: #000000;
    color: white;
    border-color: #ffd000;
}
.btn-primary:hover {
    background-color: #ffffffda;
    color: black;
    border-color: #ff0000;
}
.mb-3 {
    width: 300px;
}

.mb-3 h2 {
    display: flex;
    text-align: center;
}


/*FOOTER*/

footer {
    background-color: #000000;
    display: flex;
    justify-content: center;
    font-size: 13px;
    font-weight: bold;
    padding-block: 10px;
    color: white;
}

.footer-menu {
    background-color: #000000;
}

.footer-contacto {
    margin-top: 10px;
}


/*MEDIAQUERIES*/

@media screen and (max-width: 586px) {

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    ul li a {
        padding-inline: 5px;
    }

    .imagenprincipal h1 {
        font-size: 25px;
    }

    .section1 {
        display: flex;
        flex-direction: column;
    }

    .section1 a {
        font-size: 30px;
    }

    .section2 .txt {
        font-size: 35px;
    }

    .col-2 {
        width: 400px;
    }
    
    
    /*MEDIA NOSOTROS.HTML*/
    
    .txt-nos {
        width: 400px;
        font-size: 25px;
    }

    /*MEDIA UBICACION.HTML*/

    .main-ubi h2 {
        font-size: 30px;
    }
    
    .main-ubi h3 {
        font-size: 25px;
    }

    .ubi1 {
        width: 200px;
    }

}

/*MEDIAQUERIES COMBOS.HTML*/
@media screen and (max-width: 680px) {
    .nuestroscombos {
        width: 500px;
    }

    
}



/* COLORES */
.amarillo {
    color: #ffd000;
}